<div class="container" >
  <h1>Libro</h1>
  <form>
    <label for="title">Libro</label>
    <input type="text" placeholder="Libro" name="title" class="form-control" id="title" required [(ngModel)]="model.title">
    <label for="title">Autor</label>
    <input type="text" placeholder="Autor" name="author" class="form-control" id="author" required [(ngModel)]="model.author">
    <label for="title">URL</label>
    <input type="text" placeholder="Url" name="url" class="form-control" id="url" required [(ngModel)]="model.url"><br>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
  <div class="pre">
    <h2>Modelo</h2>
    {{ currentbook }}
  </div>
</div>
